<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DemandCollection</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CFservert</display-name>
    <servlet-name>CFservert</servlet-name>
    <servlet-class>bean.CFservert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CFservert</servlet-name>
    <url-pattern>/CFservert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CFservertlast</display-name>
    <servlet-name>CFservertlast</servlet-name>
    <servlet-class>bean.CFservertlast</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CFservertlast</servlet-name>
    <url-pattern>/CFservertlast</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Revise</display-name>
    <servlet-name>Revise</servlet-name>
    <servlet-class>bean.Revise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Revise</servlet-name>
    <url-pattern>/Revise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Department</display-name>
    <servlet-name>Department</servlet-name>
    <servlet-class>bean.Department</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Department</servlet-name>
    <url-pattern>/Department</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Techservlet1</display-name>
    <servlet-name>Techservlet1</servlet-name>
    <servlet-class>bean.Techservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Techservlet1</servlet-name>
    <url-pattern>/Techservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Techservlet2</display-name>
    <servlet-name>Techservlet2</servlet-name>
    <servlet-class>bean.Techservlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Techservlet2</servlet-name>
    <url-pattern>/Techservlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Techservlet3</display-name>
    <servlet-name>Techservlet3</servlet-name>
    <servlet-class>bean.Techservlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Techservlet3</servlet-name>
    <url-pattern>/Techservlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Localservlet</display-name>
    <servlet-name>Localservlet</servlet-name>
    <servlet-class>bean.Localservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Localservlet</servlet-name>
    <url-pattern>/Localservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHello</display-name>
    <servlet-name>UserHello</servlet-name>
    <servlet-class>bean.UserHello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHello</servlet-name>
    <url-pattern>/UserHello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>bean.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jgcodeservlet</display-name>
    <servlet-name>Jgcodeservlet</servlet-name>
    <servlet-class>bean.Jgcodeservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jgcodeservlet</servlet-name>
    <url-pattern>/Jgcodeservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectLocal</display-name>
    <servlet-name>SelectLocal</servlet-name>
    <servlet-class>bean.SelectLocal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectLocal</servlet-name>
    <url-pattern>/SelectLocal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCF</display-name>
    <servlet-name>SelectCF</servlet-name>
    <servlet-class>bean.SelectCF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCF</servlet-name>
    <url-pattern>/SelectCF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectTG</display-name>
    <servlet-name>SelectTG</servlet-name>
    <servlet-class>bean.SelectTG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectTG</servlet-name>
    <url-pattern>/SelectTG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RolePlay</display-name>
    <servlet-name>RolePlay</servlet-name>
    <servlet-class>bean.RolePlay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolePlay</servlet-name>
    <url-pattern>/RolePlay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleSearch</display-name>
    <servlet-name>RoleSearch</servlet-name>
    <servlet-class>bean.RoleSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleSearch</servlet-name>
    <url-pattern>/RoleSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PowerSelect</display-name>
    <servlet-name>PowerSelect</servlet-name>
    <servlet-class>bean.PowerSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PowerSelect</servlet-name>
    <url-pattern>/PowerSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>bean.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchChuShi</display-name>
    <servlet-name>SearchChuShi</servlet-name>
    <servlet-class>bean.SearchChuShi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchChuShi</servlet-name>
    <url-pattern>/SearchChuShi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRole</display-name>
    <servlet-name>AddRole</servlet-name>
    <servlet-class>bean.AddRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRole</servlet-name>
    <url-pattern>/AddRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleLoad</display-name>
    <servlet-name>RoleLoad</servlet-name>
    <servlet-class>bean.RoleLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleLoad</servlet-name>
    <url-pattern>/RoleLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSearch</display-name>
    <servlet-name>UserSearch</servlet-name>
    <servlet-class>bean.UserSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearch</servlet-name>
    <url-pattern>/UserSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PowerName</display-name>
    <servlet-name>PowerName</servlet-name>
    <servlet-class>bean.PowerName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PowerName</servlet-name>
    <url-pattern>/PowerName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>bean.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>bean.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartServlet</display-name>
    <servlet-name>ChartServlet</servlet-name>
    <servlet-class>bean.ChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartServlet</servlet-name>
    <url-pattern>/ChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoad</display-name>
    <servlet-name>UserLoad</servlet-name>
    <servlet-class>bean.UserLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoad</servlet-name>
    <url-pattern>/UserLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PWDreset</display-name>
    <servlet-name>PWDreset</servlet-name>
    <servlet-class>bean.PWDreset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PWDreset</servlet-name>
    <url-pattern>/PWDreset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartLoad</display-name>
    <servlet-name>PartLoad</servlet-name>
    <servlet-class>bean.PartLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartLoad</servlet-name>
    <url-pattern>/PartLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRoleChange</display-name>
    <servlet-name>UserRoleChange</servlet-name>
    <servlet-class>bean.UserRoleChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRoleChange</servlet-name>
    <url-pattern>/UserRoleChange</url-pattern>
  </servlet-mapping>
</web-app>